
/* ul {
  margin: 0;
  padding: 0; */
/* } */
body{
    color: black;   
    background-color: rgb(125, 146, 150);
    font-size: 150%;
    font-family: 'helvetica';
    /* margin: 5em 10%; */
 }

h1 {
  color:black;
  text-align: center;
  border: 5px solid black;
}
h2{
    color: black
}
img{
  border-radius: 10%;
  width: 800;
  height: 1500;
}
p {
  font-family: helvetica;
  font-size: 25px;
  /* css idcss id
  border: 1px solid black; */
  /* margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px; */
}