
body{
    color: black;   
    background-color: rgb(125, 146, 150);
    font-size: 150%;
    font-family: 'helvetica';
    margin: 5em 10%;
 }

h1 {
  color:black;
  text-align: center;
  padding-top: 60px;
  padding-right: 30px;
  padding-bottom: 60px;
  padding-left: 30px;
}
h2{
    color: black
}
p {
  font-family: helvetica;
  font-size: 25px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;
}